/* Dark Mode (default) */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212; /* Dark gradient background */
  color: #ffffff; /* Light text color for dark background */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

.App {
  text-align: center;
  min-height: 100vh; /* Ensure the app takes up the full viewport height */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Make the main content take up the remaining space */
  padding: 2rem;
}



/* Headings and Paragraphs */
h1, h2, h3, p {
  margin: 1rem;
  color: #ffffff; /* Ensure all headings and paragraphs have light text */
}



.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons a {
  margin: 0 10px; /* Add space between icons */
  display: inline-block;
}

.icon-img {
  width: 40px; /* Set a fixed width for both icons */
  height: 40px; /* Set a fixed height for both icons */
  object-fit: contain; /* Ensure the icons retain their aspect ratio within the defined size */
  transition: transform 0.3s ease;
}

.icon-img:hover {
  transform: scale(1.5); /* Slight zoom on hover */
}
.resume-float-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #1cb1be;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1000; /* Ensure it stays on top of other elements */
  transition: background-color 0.3s ease;
}

.resume-float-btn:hover {
  background-color: #159aa7;
  scale: 1.3;
}
